[Unit]
Description=Laravel Horizon
After=network.target redis.service

[Service]
Type=simple
User=www-data
Group=www-data
Restart=always
RestartSec=5
WorkingDirectory=/var/www/chat-app/backend
ExecStart=/usr/bin/php artisan horizon
ExecStop=/usr/bin/php artisan horizon:terminate
KillSignal=SIGTERM
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
