<VirtualHost *:80>
    ServerName api.ddrbit.com
    Redirect permanent / https://api.ddrbit.com/
</VirtualHost>

<VirtualHost *:443>
    ServerName api.ddrbit.com
    DocumentRoot /var/www/app/backend/public

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/api.ddrbit.com/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/api.ddrbit.com/privkey.pem

    <Directory /var/www/app/backend/public>
        AllowOverride All
        Require all granted
    </Directory>

    ProxyPreserveHost On
    RequestHeader set X-Forwarded-Proto "https"
    RequestHeader set X-Forwarded-Port "443"

    ProxyPass /app ws://127.0.0.1:8080/app
    ProxyPassReverse /app ws://127.0.0.1:8080/app
    ProxyPass /app/ ws://127.0.0.1:8080/app/
    ProxyPassReverse /app/ ws://127.0.0.1:8080/app/
    ProxyPass /apps http://127.0.0.1:8080/apps
    ProxyPassReverse /apps http://127.0.0.1:8080/apps
    ProxyPass /apps/ http://127.0.0.1:8080/apps/
    ProxyPassReverse /apps/ http://127.0.0.1:8080/apps/

    ErrorLog ${APACHE_LOG_DIR}/api.ddrbit.com-error.log
    CustomLog ${APACHE_LOG_DIR}/api.ddrbit.com-access.log combined
</VirtualHost>
